---
import Layout from '../layouts/Layout.astro';
import { getEntryBySlug } from 'astro:content';

const entry = await getEntryBySlug('docs', 'code-site-new');
const { Content } = await entry.render();
---

<Layout title="ZSH | site-new" description="Function for ZSH to create a new site with a single command.">
	<div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
	<main class="h-screen w-full grid place-content-center">
		<h1 class="text-center max-w-[300px] text-5xl text-white text-pretty [&>strong]:text-yellow-500 [&>strong]:font-semibold ">
			<code class="text-sky-300"><small>site-new</small></code> Function For <strong class="block text-color-">ZSH</strong>
		</h1>
		<a href="#site-new" class="text-sky-100 flex px-2 py-4 border border-yellow-500/50 mt-20 rounded-lg justify-center items-center gap-2 hover:bg-yellow-500/30 transition-all">
			<span class="tracking-wider text-xl flex items-center gap-1">Copiar 
				<svg xmlns="http://www.w3.org/2000/svg" class="text-sky-200" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" /></svg>
			</span>
			<!-- <code class="text-sky-300"><strong class="inline">site-new</strong></code> -->
		</a>
	</main>
	<section id="site-new" class="bg-black text-white px-4 w-full py-10">
		<div class="relative max-w-[800px] mx-auto 
		[&>article>pre]:overflow-x-auto [&>article>pre]:w-full [&>article>pre]:border [&>article>pre]:border-white [&>article>pre]:rounded-lg [&>article>pre]:p-5 
		[&>article>h2]:text-2xl [&>article>h2]:w-full [&>article>h2]:text-3xl [&>article>h2]:text-balance [&>article>h2]:text-center  [&>article>h2]:mb-10 [&>article>h2]:max-w-[80%] [&>article>h2]:mx-auto [&>article>h2]:text-yellow-500">
			<button id="copy-code" class="absolute z-10 top-10 right-2 text-sky-100 bg-slate-900 flex px-3 py-2 border border-slate-500/70 mt-20 rounded-lg justify-center items-center gap-2 hover:bg-yellow-500 hover:text-slate-900 transition-all">
				<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" /></svg>
			</button>
			<Content />
		</div>
	</section>
	<footer class="w-full flex justify-center">
		<div id="alert-copy" class="fixed bottom-10 righ-0 p-2 min-w-40 text-center mb-4 text-sm rounded-lg bg-gray-800 text-yellow-300 hidden animate-duration-400" role="alert">
			<span class="font-medium uppercase text-xs">Copiado!</span>
		</div>
	</footer>
</Layout>
<style>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	@media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
	}
</style>
<script>
	(() => {
		const $buttons = document.querySelectorAll('a[href="#site-new"], button#copy-code');
		const $alert = document.querySelector('#alert-copy');
		if($buttons.length == 0)  return false;
		$buttons.forEach($button => {
			$button.addEventListener('click', () => {
				const $pre = document.querySelector('#site-new pre');
				const text = $pre && $pre.textContent;
				text && navigator.clipboard.writeText(text);
				$alert && $alert.classList.remove('hidden');
				$alert && $alert.classList.remove('animate-fade-out');
				$alert && $alert.classList.add('animate-fade-in');
				setTimeout(() => {
					$alert && $alert.classList.remove('animate-fade-in');
					$alert && $alert.classList.add('animate-fade-out');
				}, 3000);
				
			});
		});
	})()
</script>
