---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import BgGradient from '@/UI/BgGradient.astro';
import Hero from '@/components/Hero.astro';
import CodeSiteNew from '@/components/CodeSiteNew.astro';
import Footer from '@/components/Footer.astro';
---

<Layout title="ZSH | site-new" description="Function for ZSH to create a new site with a single command.">
	<Header />
	<BgGradient />
	<main class="w-full flex flex-col gap-x-3">
		<Hero />
		<CodeSiteNew />
	</main>
	<Footer />
</Layout>
<style>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	@media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
	}
</style>
<script>
	(() => {
		const $buttons = document.querySelectorAll('a[href="#site-new"], button#copy-code');
		const $alert = document.querySelector('#alert-copy');
		if($buttons.length == 0)  return false;
		$buttons.forEach($button => {
			$button.addEventListener('click', () => {
				const $pre = document.querySelector('#site-new pre');
				const text = $pre && $pre.textContent;
				text && navigator.clipboard.writeText(text);
				$alert && $alert.classList.remove('hidden');
				$alert && $alert.classList.remove('animate-fade-out');
				$alert && $alert.classList.add('animate-fade-in');
				setTimeout(() => {
					$alert && $alert.classList.remove('animate-fade-in');
					$alert && $alert.classList.add('animate-fade-out');
				}, 3000);
				
			});
		});
	})()
</script>
