---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import BgGradient from '@/UI/BgGradient.astro';
import Main from '@/components/Main.astro';
---

<Layout title="ZSH | site-new" description="Function for ZSH to create a new site with a single command.">
	<Header />
	<BgGradient />
	<Main />
	
	<footer class="w-full flex justify-end px-4">
		<span id="alert-copy" class="fixed bottom-5 left-0 right-0 p-2 min-w-40 text-center mb-4 text-sm rounded-lg bg-cyan-200 text-slate-900 hidden animate-duration-400 mx-auto max-w-28" role="alert">
			<span class="font-medium uppercase text-xs">Copiado!</span>
		</span>
	</footer>
</Layout>
<style>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	@media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
	}
</style>
<script>
	(() => {
		const $buttons = document.querySelectorAll('a[href="#site-new"], button#copy-code');
		const $alert = document.querySelector('#alert-copy');
		if($buttons.length == 0)  return false;
		$buttons.forEach($button => {
			$button.addEventListener('click', () => {
				const $pre = document.querySelector('#site-new pre');
				const text = $pre && $pre.textContent;
				text && navigator.clipboard.writeText(text);
				$alert && $alert.classList.remove('hidden');
				$alert && $alert.classList.remove('animate-fade-out');
				$alert && $alert.classList.add('animate-fade-in');
				setTimeout(() => {
					$alert && $alert.classList.remove('animate-fade-in');
					$alert && $alert.classList.add('animate-fade-out');
				}, 3000);
				
			});
		});
	})()
</script>
