<footer class="w-full flex justify-center">
    <span id="alert-copy" class="fixed bottom-5 left-0 right-0 p-2 min-w-40 text-center mb-4 text-sm rounded-lg bg-cyan-200 text-slate-900 hidden animate-duration-400 mx-auto max-w-28" role="alert">
        <span class="font-medium uppercase text-xs">Copiado!</span>
    </span>
    <span class="w-full bg-black flex justify-center text-xs text-white py-5 pb-7 gap-1 items-center"> Desarrollado por 
        <a target="_blank" href="https://www.linkedin.com/in/darioesp/" rel="noopener noreferrer" >@darioesp,</a> con cariño desde un rincón de
        <svg version="1.1" width="15px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 42" xml:space="preserve"> <style type="text/css"> .st0 { fill: #FFFFFF; } .st1 { fill: #D42E12; } .st2 { fill: #0034A8; } </style> <path id="Rounded_Rectangle_7_copy" class="st0" d="M5.8,0h52.3C61.4,0,64,2.6,64,5.7v30.6c0,3.2-2.6,5.7-5.8,5.7H5.8 C2.6,42,0,39.4,0,36.3V5.7C0,2.6,2.6,0,5.8,0z"></path> <path class="st1" d="M0,36.3C0,39.4,2.6,42,5.8,42h52.4c3.2,0,5.8-2.5,5.8-5.7V21H0V36.3z"></path> <path class="st2" d="M21,0H5.8C2.6,0,0,2.6,0,5.7V21h21V0z"></path> <polygon class="st0" points="10.8,4.9 12.3,9.8 17.4,9.8 13.3,12.7 14.9,17.6 10.8,14.6 6.6,17.6 8.2,12.7 4.1,9.8 9.2,9.8 "></polygon> </svg>
    </span>
</footer>