<main class="h-screen w-full grid place-content-center">
    <h1 class="text-center max-w-[300px] text-5xl text-white text-pretty [&>strong]:text-yellow-500 [&>strong]:font-semibold ">
        <code class="text-sky-300"><small>site-new</small></code> Function For <strong class="block text-color-">ZSH</strong>
    </h1>
    <a href="#site-new" class="text-sky-100 flex px-2 py-4 border border-yellow-500/50 mt-20 rounded-lg justify-center items-center gap-2 hover:bg-yellow-500/30 transition-all">
        <span class="tracking-wider text-xl flex items-center gap-1">Copiar 
            <svg xmlns="http://www.w3.org/2000/svg" class="text-sky-200" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" /><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1" /></svg>
        </span>
        <!-- <code class="text-sky-300"><strong class="inline">site-new</strong></code> -->
    </a>
</main>